@import url('./colors.css');

html, body { 
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: var(--black);
}

*:before,
*:after { 
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  display: block;
  background-color: #fff;
  cursor: pointer;
}

.inner-container { 
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

